<div class="full-screen" style="margin-top: 100px!important;">
  <div class="container mt-5" style="margin-top: 100px!important;">
    <h2 style="margin-top: 100px!important;"><strong>Sobre Mí</strong></h2>
    <span class="bar-title mb-5"></span>
    <div class="row">
      <div class="col-lg-4 col-md-12" data-aos="fade-up">
        <picture>
          <img src="assets/1734926449105.jpg" alt="photo de profil" class="img-fluid">
        </picture>
      </div>
      <div class="col-lg-8 col-md-12 pt-4 pt-lg-0" data-aos="fade-up">
        <h3>Desarrollador Web y de escritorio Full-Stack</h3>
        <p class="font-italic">
          Soy un desarrollador de software e ingeniero en informática con una sólida trayectoria de más de 5 años de experiencia en el campo de la informática.
          <br>Me apasiona desarrollar para <b>Back-End</b> y <b>Front-End</b>.
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <ul>
              <li>
                <i class="bi bi-geo-alt-fill"></i><strong> Mobilidad en entre Rancagua y Santiago</strong>
              </li>
              <li>
                <i class="bi bi-building"></i><strong> Rancagua, Chile</strong>
              </li>
              <li>
                <i class="bi bi-envelope-arrow-down"></i><strong><a href="mailto:jjosemiguel.jv@gmail.com">
                          jjosemiguel.jv&#64;gmail.com</a></strong>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6">
            <ul>
              <li>
                <i class="bi bi-cake"></i><strong> 28 años</strong>
              </li>
              <li>
                <i class="bi bi-award-fill"></i><strong>Ingeniero en informática | Analista programacion </strong>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Mi experiencia abarca tanto el desarrollo Backend como el Frontend, junto con la gestión de bases de datos, lo que me permite ofrecer un enfoque completo en el ciclo de vida del software y como no puede faltar hoy en día también tengo conocimientos en desarrollo mobile complementando más mi perfil.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="skill"></div>
