<div class="full-screen d-flex align-items-center justify-content-center" style="position: relative;">
  <div class="background-image" style="background-image: url('https://res.cloudinary.com/dedjoiqhi/image/upload/v1737166771/fondo_g5baen.jpg'); background-size: cover; background-position: center; filter: blur(2px); position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
  <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);"></div>
  <div class="content-wrapper text-center d-flex align-items-center justify-content-center" style="position: relative; z-index: 1;">
    <div class="row justify-content-center">
      <div class="profile-picture rounded-circle overflow-hidden me-3" style="width: 200px; height: 200px;">
        <img src="https://res.cloudinary.com/dedjoiqhi/image/upload/v1737166766/yo_vfyl6g.jpg" alt="Profile Picture" class="img-fluid w-100 h-100">
      </div>
      <div class="text-white">
        <h1 class="profile-name" style="text-shadow: 2px 2px 4px #000000;">Jose Miguel Vergara Alvarez</h1>
        <h3 class="profile-title" style="text-shadow: 2px 2px 4px #000000;">Desarrollador Full-Stack 💻</h3>
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/jose-vergara-a-1a4853236/"
          role="button"
        ><i class="bi bi-linkedin"></i></a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/Kyousukee"
          role="button"
        ><i class="bi bi-github"></i></a>
      </div>
    </div>
  </div>
</div>
<div id="about"></div>
