<div class=" py-5">
  <div class="container">
    <h2 class="mb-4 "><strong>Currículum Vitae</strong></h2>
    <span class="bar-title mb-5"></span>
    <p class="mb-5">Aquí están mis experiencias laborales y educación.</p>
    <div class="row">
      <!-- Experiencia Laboral -->
      <div class="col-md-6">
        <h5 class="mb-4"><strong>Experiencia Laboral</strong></h5>
        <div class="timeline" data-aos="flip-left">
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
              <h6>Desarrollador</h6>
              <p class="text-muted">Travel Security. Santiago.</p>
              <p>Septiembre 2022 – Hoy    (2 años y sumando)</p>
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal('Desarrollo, migración y optimización de sistemas heredados utilizando .NET y C#.
              Diseño e implementación de soluciones con SQL Server, enfocadas en el manejo eficiente de datos y la mejora del rendimiento de los sistemas.
              Migración de sistemas desarrollados en Visual FoxPro (V6), asegurando la transición a tecnologías más modernas y escalables.
              Integración y consumo de web services de viajes y GDS como Sabre y Amadeus, facilitando la interoperabilidad entre plataformas.
              Participación en proyectos de modernización tecnológica, adaptando funcionalidades existentes y desarrollando nuevas características para satisfacer las necesidades del negocio.')">+ Detalle</button>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
              <h6>(Medio Tiempo) Desarrollador Backend</h6>
              <p class="text-muted">Digital 5 Chile</p>
              <p>Marzo 2022 – Junio 2022   (4 Meses)</p>
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal('Desarrollo de funcionalidades y endpoints utilizando el framework Laravel, integrados con aplicaciones frontend en diversos proyectos.
Diseño e implementación de bases de datos con MySQL para garantizar la eficiencia y fiabilidad de las aplicaciones.
Colaboración en la integración entre frontend y backend para optimizar el rendimiento de las aplicaciones.')">+ Detalle</button>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
              <h6>Desarrollador</h6>
              <p class="text-muted">SMS Sudamérica prestando servicios a Travel Security. Santiago.</p>
              <p>Febrero 2022 – Septiembre 2022  (7 Meses)</p>
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal('Desarrollo y migración de funcionalidades en sistemas heredados utilizando .NET y C#.
Creación de nuevas soluciones y mejoras para la optimización de los sistemas internos.
Integración y consumo de web services relacionados con viajes y GDS (Global Distribution Systems) como Sabre y Amadeus.
Colaboración en proyectos enfocados en la modernización de plataformas tecnológicas, asegurando la interoperabilidad con servicios de terceros.')">+ Detalle</button>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
              <h6>Desarrollador en Sistemas Full Stack</h6>
              <p class="text-muted">Precisa Frozen, Requinoa</p>
              <p>Octubre 2019 – Febrero 2022  (2 años y 3 meses)</p>
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal('Desarrollo y mantenimiento de sistemas empresariales utilizando tecnologías como .NET, Visual Basic, AngularJS y PHP.
Diseño y gestión de bases de datos con SQL Server y MySQL para soportar procesos críticos del negocio.
Implementación y optimización de sistemas de gestión de pedidos (OrderBy), facturación y órdenes de compra, garantizando la precisión y eficiencia operativa.
Desarrollo de funcionalidades tanto en el frontend como en el backend, asegurando una integración fluida entre los sistemas.
Colaboración activa en la mejora continua de procesos internos mediante soluciones tecnológicas adaptadas a las necesidades del negocio.')">+ Detalle</button>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
              <h6>Practica Profesional Analista Programador </h6>
              <p class="text-muted">Tecnodata S.A, Santiago</p>
              <p>Septiembre - Octubre 2018  (2 Meses)</p>
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal('Aprendizaje y aplicación de Laravel y Angular en el desarrollo de proyectos web.
Participación en el ciclo de vida de proyectos, adquiriendo experiencia en la gestión y organización de tareas.
Colaboración en el desarrollo de funcionalidades frontend y backend, integrando tecnologías modernas para soluciones efectivas.
Fortalecimiento de habilidades técnicas y metodológicas mediante la experiencia práctica en proyectos reales en laravel')">+ Detalle</button>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
              <h6>Practica profesional Técnico en Contabilidad</h6>
              <p class="text-muted">Comité Agua Potable Vaticano-Las Mercedes, Requinoa</p>
              <p>Enero – Febrero 2016  (2 Meses)</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Educación -->
      <div class="col-md-6">
        <h5 class="mb-4"><strong>Educación</strong></h5>
        <div class="timeline" data-aos="flip-left">
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
              <h6>Ingeniero en Informática</h6>
              <p class="text-muted">Universidad tecnologica de Chile Inacap, Rancagua</p>
              <p>2020 - 2021</p>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
              <h6>Analista Programador</h6>
              <p class="text-muted">Centro de Formacion Tecnica Inacap, Rancagua</p>
              <p>2016 - 2018</p>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
              <h6>Enseñanza Media (Tecnico en Contabilidad)</h6>
              <p class="text-muted">Liceo Comercial Diego Portales, Rancagua</p>
              <p>2012 - 2015</p>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
              <h6>Enseñanza Basica</h6>
              <p class="text-muted">Escuela David del Curto, Requinoa.</p>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-12">
        <h5 class="mb-4"><strong>Certificaciones</strong></h5>
        <div class="timeline" data-aos="flip-left">
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content ">
              <h6>Curso Básico de Figma: Prototipado y Diseño de Interfaces</h6>
              <p class="text-muted">Platzi</p>
              <p>Expedición: dic. 2022</p>
              <a href="https://platzi.com/p/jjosemiguel.jv/curso/4038-course/diploma/detalle/">Ver Certificación</a>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content mb-3">
              <h6>Curso de APIs con .NET</h6>
              <p class="text-muted">Platzi</p>
              <p>Expedición: dic. 2022</p>
              <a href="https://platzi.com/p/jjosemiguel.jv/curso/2983-apis-net/diploma/detalle/">Ver Certificación</a>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content mb-3">
              <h6>Componentes en Angular (Principiantes)</h6>
              <p class="text-muted">Udemy</p>
              <p>Expedición: Abr. 2023</p>
              <a href="https://www.udemy.com/certificate/UC-ea09773f-c4d2-4e91-b817-3195af9533ad/">Ver Certificación</a>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content mb-3">
              <h6>Introduccion a laravel 5</h6>
              <p class="text-muted">Udemy</p>
              <p>Expedición: Abr. 2023</p>
              <a href="https://www.udemy.com/certificate/UC-9133267d-a808-4227-8fc8-164e0a6957f0/">Ver Certificación</a>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="custom-modal" *ngIf="isModalOpen" tabindex="-1">
  <div class="custom-modal-overlay" (click)="closeModal()"></div>
  <div class="custom-modal-content">
    <div class="custom-modal-header">
      <h5 class="modal-title">Detalle de Experiencia</h5>
      <button class="close-button" (click)="closeModal()">×</button>
    </div>
    <div class="custom-modal-body">
      {{ modalText }}
    </div>
  </div>
</div>

  <div id="project"></div>
</div>

